#servicesCover{
    height: 100%;
    padding: 2rem 0;
    .container{
        text-align: center;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        .servicesHeader{
            display: flex;
            align-items: center;
            width: 60%;
            margin: 0 auto 2rem auto;
            border-bottom: 2px solid black;
            h1{
                margin: 1.5rem auto;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
        // applies to all blocks:
        .blockContainer{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 80%;
            margin: 0 auto;
            height: 530px;
            overflow: hidden;
            // transition: all .5s ease-in-out;
            // javascript add more services button
            &.moreServices{
                height: auto;
            }
            .serviceBlock{
                width: 100%;
                height: 100%;
                height: 250px;
                margin: .5rem 0;
                position: relative;
                // flip imag =================================
                background-color: transparent;
                // width: 300px;
                // height: 200px;
                border: 1px solid #f1f1f1;
                perspective: 1000px; /* Remove this if you don't want the 3D effect */
                // flip imag ==================================
                &:hover{
                    .blockOne{
                        // flip imag ==================================
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                        transform: rotateY(180deg);
                        // background: rgb(208, 208, 208);
                        // flip imag ==================================
                    }
                    .blockTwo{
                        // flip imag ==================================
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                        transform: rotateY(180deg);
                        // background: rgb(208, 208, 208);
                        // flip imag ==================================
                    }
                    .blockThree{
                        // flip imag ==================================
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                        transform: rotateY(180deg);
                        // background: rgb(208, 208, 208);
                        // flip imag ==================================
                    }
                    .blockFour{
                        // flip imag ==================================
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                        transform: rotateY(180deg);
                        // background: rgb(208, 208, 208);
                        // flip imag ==================================
                    }
                    .blockFive{
                        // flip imag ==================================
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                        transform: rotateY(180deg);
                        // background: rgb(208, 208, 208);
                        // flip imag ==================================
                    }
                    .blockSix{
                        // flip imag ==================================
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                        transform: rotateY(180deg);
                        // background: rgb(208, 208, 208);
                        // flip imag ==================================
                    }
                }
                .flipBoxFront{
                    // flip imag ==================================
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    // flip imag ==================================
                    .blockOverlay{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        background: rgba(0, 0, 0, 0.486);
                        color: yellow;
                        font-size: 2rem;
                    }
                }
                .flipBoxBack{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                    display: flex;
                    align-items: center;
                    .backOverlay{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 10px solid white;
                        margin: 5px;
                        width: 97%;
                        height: 97%;
                        color: white;
                        font-size: 1.2rem;
                        letter-spacing: 3px;
                        padding: 0 1.6rem;
                        line-height: 1.3;
                        text-align: start;
                        font-family: "Oswald";
                        &.backOne{
                            background-color: #bdd4e7;
                            background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

                        }
                        &.backTwo{
                            background-color: #b3cdd1;
                            background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);

                        }
                        &.backThree{
                            background-color: #b3cdd1;
                            background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);

                        }
                        &.backFour{
                            background-color: #2f4353;
                            background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
                        }
                        &.backFive{
                            background-color: #2b1331;
                            background-image: linear-gradient(315deg, #2b1331 0%, #b9abcf 74%);
                        }
                        &.backSix{
                            background-color: #e9bcb7;
                            background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
                        }
                        ul{
                            list-style-type: circle;
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            width: 100%;
                        }
                    }
                }
                // applies to individual blocks:
                .blockOne{
                    background: url("../img/constructionSaw.jpg") center center no-repeat;
                    width: 100%;
                    height: 100%;
                    // flip imag ==================================
                    // text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    // flip imag ==================================
                }
                .blockTwo{
                    background: url("../img/electrical.jpg") center center no-repeat;
                    width: 100%;
                    height: 100%;
                    // flip imag ==================================
                    // text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    // flip imag ==================================
                }
                .blockThree{
                    background: url("../img/plumbing.jpg") top center no-repeat;
                    width: 100%;
                    height: 100%;
                    // flip imag ==================================
                    // text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    // flip imag ==================================
                }
                .blockFour{
                    background: url("../img/woodFloor.jpg") center center no-repeat;
                    width: 100%;
                    height: 100%;
                    // flip imag ==================================
                    // text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    // flip imag ==================================
                }
                .blockFive{
                    background: url("../img/harleyDavidson.jpg") top center no-repeat;
                    width: 100%;
                    height: 100%;
                    // flip imag ==================================
                    // text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    // flip imag ==================================
                }
                .blockSix{
                    background: url("../img/engine.jpg") center center no-repeat;
                    width: 100%;
                    height: 100%;
                    // flip imag ==================================
                    // text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    // flip imag ==================================
                }
            }
            
        }
        
        .seeMoreBtn{
            background-color: rgba(0, 0, 0, 0.808);
            text-align: center;
            padding: .5rem 1.5rem;
            margin: 1rem auto 2rem auto;
            font-size: 1.5rem;
            width: 10rem;
            line-height: 1.5;
            border-radius: 50px;
            position: relative;
            &:hover{
                cursor: pointer;
            }
            h5{
                color: rgb(238, 255, 0);
            }
            .seeMore{
                position: absolute;
                // display: none;
                top: -16px;
                left: 0px;
                background-color: rgba(0, 0, 0, 0.808);
                text-align: center;
                padding: .5rem 1.5rem;
                margin: 1rem auto;
                font-size: 1.5rem;
                width: 10rem;
                line-height: 1.5;
                border-radius: 50px;
                &.active{
                    display: none;
                }
            }
        }
    }
}


@media only screen and (min-width: 960px){
    #servicesCover{
        .container{
            .blockContainer{
                width: 80%;
                .serviceBlock{
                    width: 40%;
                    margin: .5rem 1rem;
                }
                
            }
            
        }  
    }
}


@media only screen and (min-width: 1000px){
    #servicesCover{
        .container{
            .blockContainer{
                .serviceBlock{
                    .blockTwo{
                        background-size: cover;
                    }
                    .blockSix{
                        background-size: cover;
                    }
                }
                
            }
        }
    }
}