@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap');
@import "reset";
@import "introCover";
@import "servicesCover";
@import "aboutCover";
@import "contactCover";
@import "reviewCover";

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}



// .container{
//   max-width: 1400px;
//   margin: 0 auto;
// }

#footer{
  color: white;
  background: black;
  padding: .5rem;
  text-align: center;
  font-size: .8rem;
  line-height: 1.5;
}













// .services-cover {
//   background: url("images/beautiful-kitchen.jpg") no-repeat center center fixed;
//   background-size: 100% 100%;
//   width: auto;
//   height: auto;
// }

// .card {
//   margin: auto;
//   min-height: 630px;
// }

// .card {
//   min-height: 300px;
// }

// .about-cover {
//   background: url("images/brick-garden.jpg") no-repeat center center fixed;
//   background-size: 100% 100%;
//   width: auto;
//   height: auto;
// }

// caption, #profile-bio {
//   text-align: center;
//   color: white;
//   background: rgba(0, 0, 0, .7);
//   border-radius: 35px;
// }

// #steven-image, #pooch-image {
//   width: auto;
//   max-height: 360px;
//   border: 1px solid rgba(100, 100, 100, .8);
//   border-radius: 25px;
//   margin: 5px;
// }

// #profile-bio {
//   max-width: 46%;
//   height: auto;
// }

// .contact-cover {
//   background: url("images/black-brick.jpg") no-repeat center center fixed;
//   background-size: cover;
//   width: auto;
//   height: auto;
// }

// #contact-table {
//   color: white;
//   min-height: 200px;
//   font-size: 30px;
//   background: rgba(0, 0, 0, .7);
//   border-radius: 35px;
// }
